<script type="text/javascript">
$(function() {
  $(document).on("keydown.autocomplete",".select_ingredient",function(e){
    $(this).autocomplete({
      minLength: 2,
      source: '<%= ingredients_path(:json) %>',
      focus: function(event, ui) {
          $(this).val(ui.item.name);
          return false;
      },
      select: function(event, ui) {
        $(this).val(ui.item.name);
        $('.link_ingredient_id').val(ui.item.id);
        return false;
      }
    })
    .data( "ui-autocomplete" )._renderItem = function( ul, item ) {
      return $( "<li></li>" )
      .data( "item.autocomplete", item )
      .append( "<a>" + item.name + "</a>" )
      .appendTo( ul );
    };
  });
});
</script>


<div class="ingredientsForm" id="new_ingredients_form">
  <%= label_tag "ingredients" %>
  <input class="select_ingredient"/>
  <input class="link_ingredient_id" name="link[ingredient_id]" type="hidden"/>
  <%= label_tag "servings" %>
  <%= text_field_tag "servings[]" %>
</div>
